<!-- java script start-->
            <script src="src/js/bootstrap.min.js"></script>
            <script src="src/js/bootstrap.js"></script>
            <script src="src/js/npm.js"></script>
            <!-- java script end-->
            <!-- web java script start-->
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
            <!-- web java script end-->
    </body>
</html>
